body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.volver {
    align-self: flex-start;
}
.flex-container-cancion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15vh;
    margin-bottom: 15vh;
}
.cardd {
    align-self: center;
    justify-self: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 20rem;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
    width: 18rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    flex-direction: column;
    transition: 0.5s;
    text-decoration: none;
}

h2 {
    font-size: 2rem;
    margin: 0 0;
    margin-top: 1rem;
    margin-bottom: 0.3rem;
}
h4 {
    margin: 0 0;
}

.album {
    background-image: url('/img/album.jpeg');
}
.code {
    height: 5rem;
    width: 18rem;
    border-end-start-radius: 10px;
    border-end-end-radius: 10px;
}